* {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 16px;
  line-height: 22px;
  color: #4a4b4c;
  background-color: #fff;
}

img {
  max-width: 100%;
  height: auto;
}


/* OUTLINE STYLES */
*:focus {
  outline: 2px dashed #2959CE;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 13px 20px;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  line-height: normal;
}

.button-block {
  display: block;
  width: 100%;
}

.button-primary {
  color: #fff;
  background-color: #7296EC;
}

.button:hover {
  opacity: 0.8;
}

.button:active {
  opacity: 0.6;
}

.button-orange {
  background-color:  #F78B3B;
  color: #fff;
}



/* CONTAINER */
.container {
  width: 100%;
  max-width: 1240px;
  padding-left : 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}


/* SITE-HEADER-TOP */
.site-header-top {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 10px;
  background-color: #F6F6F6;
}

.site-header-top-container {
  display: flex;
  align-items:center;
}

.site-header-logo {
  display: flex;
  margin-right: 35px;
  padding: 9px 6px;
  border-radius: 7px;
  background-color: #fff;
}

.site-header-logo:hover {
  opacity: 0.8;
}

.site-header-logo:active {
  opacity: 0.6;
}


/* CURRENCY-RATES */
.currency-rates {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: auto;
  padding: 0;
  list-style: none;
}
.currency-rates-item:not(:last-child) {
  margin-right: 25px;
}
.currency-rates-type {
  color: #2959CE;
}

/* GLOBAL-SEARCH-FORM */
.global-search-form {
  margin-right: 25px;

}

.global-search-form-input {
  width: 275px;
  height: 45px;
  border-radius: 60px;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 13px;
  padding-left: 40px;
  border: 0;
  font-size: 14px;
  font-weight: normal;
}


/* LANG-TOGGLE */
.lang-toggle {
  display: flex;
  margin-right: 25px;
  padding: 3px;
  border-radius: 39px;
  background-color: #DCE6FF;
}

.lang-toggle-link {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  font-size: 13px;
  text-align: center;
  line-height: 30px;
  color: #a6a6a6;
  text-decoration: none;
}

.lang-toggle-link-active {
  color: #000;
  background-color: #fff;
}


/* SITENAV */
.sitenav {
  padding-top: 12px;
  padding-bottom: 12px;
  border-bottom: 1px solid #d1d1d1;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  line-height: normal;
}

.sitenav-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav-item {
  margin-top: 4px;
  margin-bottom: 4px;
}

.sitenav-item:not(:last-child) {
  margin-right: 34px;
}

.sitenav-link {
  display: block;
  text-decoration: none;
  color: #7F7F7F;
}

.sitenav-link:hover {
  color: #7296ec;
}

.sitenav-link:active {
  opacity: 0.6;
}

/* SITE-HEADER-BANNER */
.site-header-banner-link {
  display: flex;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 50px;
  padding-bottom: 100px;
}


/* NEWS GRID */
.news-grid {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-bottom: -10px;
}

.news-grid-item {
  width: 393px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.article-card {
  display: flex;
  flex-direction: column;
  padding: 20px 17px 15px;
  background-color: #F6F6F6;
  border-radius: 15px;
}

.article-card-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 500;
}

.article-card-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.article-card-link:hover {
  color: #7296ec;
}

.article-card-link:active {
  opacity: 0.6;
}
.article-card-text {
  margin-top: 0;
  margin-bottom: 15px;
}
.article-card-img {
  display: block;
  width: 360px;
  height: 165px;
  margin-top: auto;
  object-fit: cover;
  margin-bottom: 15px;
  border-radius: 10px;
}
.article-card-footer {
  display: flex;
  align-items: center;
}

.article-card-source-icon {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 5px;
  margin-right: 10px;
}

.article-card-source-time {
  font-size: 12px;
  font-weight: 400;
  color: #5E5F61;
}


/* <!-- NOTIFICATION CTA--> */
.notification-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 60px 75px;
  background-color: #ffd7ba;
  padding: 25px 70px 25px 30px;
  border-radius: 10px;
}
.notification-cta-text {
  font-size: 20px;
  font-weight: 500;
  line-height: 26px;
  color: #000;
}


/* GLOBAL-NEWS */
.global-news {
  width: 797px;
}

.global-news-heading {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  color: #000;
}

.news-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.news-list-item:not(:last-child) {
  margin-bottom: 10px;
}


/* ARTICLE-CARD-HORIZONTAL */
.article-card-horizontal {
  display: flex;
  align-items:flex-start;
  padding: 20px;
  background-color: #F6F6F6;
  border-radius: 15px;
}

.article-card-horizontal-img {
  border-radius: 10px;
  width: 210px;
  height: 165px;
  margin-right: 15px;
  object-fit: cover;
}

.article-card-horizontal-content {
  flex-grow: 1;
}

.article-card-horizontal-title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
}

.article-card-horizontal-link {
  display: inline-block;
  color: #000;
  text-decoration: none;
}

.article-card-horizontal-link:hover {
  color: #7296ec;
}

.article-card-horizontal-link:active {
  opacity: 0.6;
}

.article-card-horizontal-text {
  margin-top: 0;
  margin-bottom: 15px;
  font-size: 16px;
  line-height: 22px;
  color: #4A4B4C;
}
.article-card-horizontal-footer {
  display: flex;
  align-items: center;
}
.article-card-horizontal-source-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.article-card-horizontal-source-time {
  font-size: 12px;
  line-height: normal;
  color: #5E5F61;
}

.news-list-button {
  padding: 17px;
}


/* LAYOUT */
.layout-3-3 {
  display: flex;
  align-items:flex-start;
}

.layout-3-2-main {
  width: 797px;
  margin-right: 10px;
}

/* SIDEBAR */
.layout-3-1-sidebar {
  width: 393px;
  margin-top: 49px;
}

.layout-3-1-sidebar-item:not(:last-child) {
  margin-bottom: 10px;
}

/* SIDEBAR-NEWS-card  */
.sidebar-news-card {
  padding-top: 20px;
  padding-left: 20px;
  border-radius: 15px;
  background-color: #F6F6F6;
  color: #000;
}

.sidebar-news-card-heading {
  margin-top: 0;
  margin-bottom: 25px;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  color: #000;
}

.sidebar-news-card-list {
  padding-bottom: 0;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  margin-bottom: 10px;
}

.sidebar-news-card-item {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style: none;
}

.sidebar-news-card-item:first-child {
  padding-top: 0;
}

.sidebar-news-card-item:last-child {
  padding-bottom: 0;
  margin-bottom: 0;
}

.sidebar-news-card-item-border {
  display: inline-block;
  border-bottom: 1px solid #D2D2D2;

}

.sidebar-news-card-item:last-child {
  border-color: #fff;
}

.sidebar-news-card-title {
  margin-top: 0;
  margin-bottom: 8px;
}
.sidebar-news-card-link {
  color: #000;
  text-decoration: none;
}

.sidebar-news-card-link:hover {
  color: #7296ec;
}

.sidebar-news-card-link:active {
  opacity: 0.6;
}

.sidebar-news-card-source-time {
  font-size: 13px;
  line-height: normal;
  font-weight: 400;
  color: #5E5F61;
}


/* SIDEBAR-AD */
.sidebar-ad-link {
  display: inline-block;
}

.sidebar-ad-img {
  width: 393px;
  height: 338px;
  border-radius: 15px;
}

.sidebar-ad-img-tall {
  height: 553px;
  object-fit: cover;
  object-position: top;
}


/* SITE-FOOTER */
.site-footer {
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #7297EF;
  color: #fff;
}

.site-footer *:focus {
  outline: 2px dashed #fff;
}

.site-footer-logo-wrapper {
  display: flex;
  margin-bottom: 15px;
}

.site-footer-logo {
  display: flex;
}

.site-footer-logo:hover {
  opacity: 0.8;
}

.site-footer-logo:active {
  opacity: 0.6;
}

.site-footer-logo-img {
  width: 264px;
  height: 28px;
  object-fit: contain;
}

.site-footer-about-links {
  display: flex;
}
.site-footer-about {
  width: 230px;
  margin-right: 200px;
  font-size: 12px;
  line-height: 19px;
  font-weight: normal;
}

.site-footer-links-wrapper {
  flex-grow: 1;
  display: flex;
}

.site-footer-links {
  width: 50%;
  padding-left: 0;
  padding-right: 24px;
  margin: 0;
  list-style: none;
  font-weight: 500;
}

.site-footer-link-item:not(:last-child) {
  margin-bottom: 20px;
}

.site-footer-link {
  display: inline-block;
  color: #fff;
  text-decoration: none;
}

.site-footer-link:hover {
  text-decoration: underline;
}

.site-footer-divider {
  height: 1px;
  border: 0;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: #CECECE;
}

.site-footer-socials {
  display: flex;
  justify-content: space-between;
}

.site-footer-socials-heading {
  margin: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 500;
}

.site-footer-socials-list {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-footer-socials-item:not(:last-child) {
  margin-right: 25px;
}
.site-footer-socials-link {
  display: flex;
}
.site-footer-socials-icon {
  flex-shrink: 0;
  width: 25px;
  height: 25px;
  object-fit: contain;
}